.updateProfileContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 178, 178);
    position: fixed;
    top:0;
    left:0;
}

.updateProfileHeading{
    color:rgba(0,0,0,0.65);
    font:500 1.3vmax "Roboto";
    text-align: center;
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    width: 50%;
    margin: auto;
}

.updateProfileBox{
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing:border-box;
    overflow: hidden;
    box-shadow: 2px 4px 5px rgb(120, 120, 120); 
}



.updateProfileBox >  button {
    /* display: flex; */
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}


.updateProfileForm{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    padding:2vmax;
    justify-content:space-evenly;
    transition: all 0.5s;
}

.updateProfileForm >div
{
    display: flex;
    width: 100%;
    align-items: center;
}

.updateProfileForm >div >input
{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    font:300 0.9vmax cursive;
    outline: none;
}

.updateProfileForm >div >svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,0.65);
}


#updateProfileImage > img{
    width: 3vmax;
    border-radius: 100%;
    margin: 1vmax;
}

#updateProfileImage > input{
    padding: 0;
    display: flex;
}

#updateProfileImage >input::file-selector-button{
    cursor: pointer;
    width: 100%;
    height: 5vh;
    border:none;
    margin: 0%;
    padding: 0 1vmax;
    z-index: 2;
    font:400 0.8vmax cursive;
    transition: all 0.5s;
    color: rgba(0,0,0,0.65);
    outline: none;
}

#updateProfileImage >input::file-selector-button:hover{
    font:400 0.85vmax cursive;
    background-color: rgba(220, 220, 220, 0.7);
}



.updateProfileBtn{
    border: none;
    background-color: tomato;
    color: white;
    width: 100%;
    cursor: pointer;
    font:300 0.9vmax "Roboto";
    padding: 0.8vmax;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    transition: all 0.5s;
}

.updateProfileBtn:hover{
    background-color: rgb(255, 67, 34);
}



@media screen and (max-width:600px) {
    .updateProfileContainer {
        background-color: white;
    }
    .updateProfileBox{
        width: 100vw;
        height: 95vh;
    }


    .updateProfileForm{
        padding: 5vmax;
    }

    .updateProfileForm >div >input
    {
        padding: 2.5vmax 5vmax;
        font:300 1.8vmax cursive;
    }

    .updateProfileForm >div >svg
    {
        font-size: 2.8vmax;
    }


    #updateProfileImage > img{
        width: 8vmax;
        border-radius: 100%;
    }

    #updateProfileImage >input::file-selector-button{
        height: 7vh;
        font:400 1.8vmax cursive;   
    }

    .updateProfileBtn{
        padding: 1.8vmax;
        font:300 1.9vmax "Roboto";
    }

    .updateProfileHeading{
        font:500 3.2vmax "Roboto";
        transform:translateY(2vmax);
    }
}